# configs/embedding/word2vec.yaml
model_save_path: "path/to/save/model/{min_year}_{min_month}_{max_year}_{max_month}_v1.model"
bigram_threshold: 2

word2vec_base: &word2vec_base
  vector_size: 300
  window: 5

# Configuration for Word2Vec with unigrams
word2vec_unigram:
  <<: *word2vec_base
  min_count: 10
  workers: 16
  epochs: 15

# Configuration for Word2Vec with bigrams
word2vec_bigram:
  <<: *word2vec_base
  min_count: 45
  workers: 16
  epochs: 20
